version: '2'

services:
  collectd_client:
    image: chimeradev/collectd:5.5.0-3
    privileged: true
    network_mode: host
    volumes:
      - /etc/hostname:/mnt/hostname:ro
      - /proc:/mnt/proc:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./collectd-client.conf:/etc/collectd/collectd.conf
    restart: always
  collectd_server:
    image: chimeradev/collectd:5.5.0-3
    hostname: matrix.weave.local
    expose:
      - "25826/udp"
    volumes:
      - ./collectd-server.conf:/etc/collectd/collectd.conf
    dns: 172.17.0.1
    dns_search: weave.local
    networks:
      - backend
      - weave
    restart: always

networks:
  frontend:
    external:
      name: nginx_default
  backend:
    driver: bridge
  weave:
    external:
      name: weave
